#extra .post-it .content .guided-wrap span {
    background: url("../images/bg_post_it_wrap.png") no-repeat scroll 0 50% transparent;
}

#block-user-todo-user-todo-full {
  padding: 0px;
}

#block-user-todo-user-todo-full .content {
  margin-top: 0px;
}

#block-user-todo-user-todo-full {
 background-color: #FFF; 
 border-color: #FFF;
}

.handwritten {
    font-family: 'LazyDogRegular',Arial,sans-serif;
    font-style: normal;
}

.curl:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 13px;
    box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.25);
    content: "";
    height: 70%;
    position: absolute;
    right: 11px;
    transform: rotate(5deg) skew(10deg);
    width: 70%;
    z-index: -2;
}
.curl, .curl:after, .curl .wrapper {
    border-bottom-right-radius: 150px 25px;
}
.curl:before {
    background: none repeat scroll 0 0 transparent;
    bottom: 12px;
    box-shadow: 11px 11px 11px rgba(207, 207, 207, 0.7);
    content: "";
    height: 50%;
    position: absolute;
    right: 12px;
    transform: rotate(3deg) skew(5deg);
    width: 50%;
    z-index: -1;
}
#extra .post-it {
    font-size: 18px;
    margin: 0 auto 20px;
    width: 100%;
}
.curl, .curl:after, .curl .wrapper {
    border-bottom-right-radius: 150px 25px;
}
.post-it {
    background: linear-gradient(113deg, #E5D387, #FFFCD8 28%) repeat scroll 0 0 transparent;
    border: 1px solid #E5D387;
    border-radius: 6px 6px 6px 6px;
    position: relative;
}

.primary:after, .wrapper:after {
    clear: both;
    content: "";
    display: table;
}
#body .wrapper {
    padding: 0 10px;
}
.curl, .curl:after, .curl .wrapper {
    border-bottom-right-radius: 150px 25px;
}
.post-it .wrapper {
    border-radius: 6px 6px 6px 6px;
    padding: 0 !important;
}
.primary, .wrapper {
    clear: both;
}

#extra .post-it .handwritten {
    font-size: 25px;
}
#extra .post-it .content {
    overflow: hidden;
    padding: 8px 0 5px;
    position: relative;
    transform: rotate(-5deg);
}
.en .handwritten {
    font-family: 'LazyDogRegular',Arial,sans-serif;
    font-style: normal;
}
.post-it .content {
    padding: 15px 20px 15px 15px;
}
.handwritten {
    color: #0085C0;
    font-family: Arial,sans-serif;
    font-style: italic;
}

#extra .post-it .content h2.attn {
    margin: 0 0 5px 48px;
}
#extra .post-it .handwritten {
    font-size: 25px;
}
.en .post-it .content .attn {
    font-family: 'LazyDogRegular',Arial,sans-serif;
}
.post-it .content .attn {
    color: #000000;
    font-size: 28px;
    line-height: 1;
    margin: 0 0 10px;
}
.en .handwritten {
    font-family: 'LazyDogRegular',Arial,sans-serif;
    font-style: normal;
}
.handwritten {
    color: #0085C0;
    font-family: Arial,sans-serif;
    font-style: italic;
}

#extra .post-it .content ul {
    margin: 0 25px 0 40px;
}
ol, ul {
    list-style: none outside none;
}

#extra .post-it .content li:before {
    content: "- ";
    left: 28px;
    position: absolute;
}
#extra .post-it .content li {
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 7px;
    padding: 0 0 0 10px;
}

#extra .post-it .content .guided-completed .guided-wrap, #extra .post-it .content .guided-complete .guided-wrap {
    background: url("../images/bg_post_it_strike3.png") repeat-x scroll 25% 54% transparent;
}

#extra .post-it .content .guided-active .guided-wrap {
    background: none repeat scroll 0 0 rgba(255, 255, 0, 0.4);
}

#extra .post-it .content h2.attn {
    margin: 0 0 5px 48px;
}

#extra .post-it .handwritten {
    font-size: 15px;
}

.post-it .content .attn {
    font-family: 'LazyDogRegular',Arial,sans-serif;
    line-height: 1;
}

#extra .post-it .content .guided-result:before {
    background: url("../images/bg_post_it_hr.png") no-repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 47px;
    left: -40px;
    position: relative;
    top: 26px;
    transform: rotate(5deg);
    width: 249px;
}
#extra .post-it .content .guided-result {
    color: rgba(0, 0, 0, 0.6);
    display: block;
    padding: 0 20px 0 55px;
    position: relative;
    top: -26px;
}

@font-face {
	font-family: 'LazyDogRegular';
	src: url('http://static.licdn.com/scds/common/u/fonts/LazyDog.eot#') format('eot'), 
       url('http://static.licdn.com/scds/common/u/fonts/LazyDog.svg#LazyDog') format('svg'), 
       url('http://static.licdn.com/scds/common/u/fonts/LazyDog.woff') format('woff'), 
       url('http://static.licdn.com/scds/common/u/fonts/LazyDog.ttf')  format('truetype');
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
}
